<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<header>
  <select id="spec">
    <option value="math">Math</option>
    <option value="art">Art</option>
    <option value="literature">Literature</option>
    <option value="dataScience">Data Science</option>
    <option value="history">History</option>
    <option value="psychology">Psychology</option>
    <option value="biology">Biology</option>
    <option value="physics">Physics</option>
  </select>
  <form>
    <label for="searcher">Test:</label>
    <input type="text" placeholder="Search" id="searcher">
  </form>
  <button mat-icon-button >
    <mat-icon>favorite</mat-icon>
  </button>
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

</header>
<body>
<app-product></app-product>

</body>
</html>
