<header>
  <div class="logo">
<!--    <a href="/" >-->
    <a routerLink="..">
      <img src="/assets/lettuce1.png" alt="Logo">
      <p class="logoName">Fresh store</p>
    </a>
  </div>

  <nav>
    <div class="navigation">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="register-btn">
    <a routerLink="login">Regsiter</a>
    <a href="#">Login</a>
  </div>
</header>

<div class="headerSearch">
  <select id="spec" (change)="Selectively(selectedOption)" [(ngModel)]="selectedOption" >
    <option  *ngFor="let key of keys"  value="{{key}}">{{key}} </option>
  </select>
  <form>
    <input type="text" placeholder="Search" id="searcher">
  </form>
  <nav>
    <button mat-icon-button > <mat-icon>favorite</mat-icon></button>
    <button mat-icon-button > <mat-icon>person</mat-icon></button>
    <button mat-icon-button (click)="openDialog()"> <mat-icon>shopping_cart</mat-icon></button>
  </nav>

</div>
