<body>

<!--<div class="outerbox">-->
<!--<a *ngFor="let counter of product"  routerLink="/detail/{{counter.id}}">>-->
<!--  <div class="box">-->
<!--    <img src="./assets/1.jpg" alt="смайлик" height="90" width="90">-->
<!--    <h4>{{counter.name}}</h4>-->
<!--  </div>-->
<!--</a>-->
<!--</div>-->


<div class="listProduct">
  <nav>
    <button>Все</button>
    <button>Хіти продажу</button>
    <button>Новинки</button>
  </nav>
  <div class="product">
    <div class="productCard">
      <img src="./assets/cucumber.png" alt="Avatar" class="avatar">
        <p>1</p>
      <!--      <h2>-->
<!--        First Name Last Name-->
<!--      </h2>-->
<!--      <h3>-->
<!--        Speciality-->
<!--      </h3>-->
<!--      <h4>-->
<!--        Country-->
<!--      </h4>-->
    </div>
    <div class="productCard">
        <img src="./assets/8.jpg" alt="Avatar" class="avatar">
      <!--            <img src="res/1.png" alt="смайлик" >-->
      <h2>
        First Name Last Name
      </h2>
      <h3>
        Speciality
      </h3>
      <h4>
        Country
      </h4>
    </div>
  </div>
</div>

<!--<div class="line"></div>-->

</body>
