
/*body{*/
/*  margin-right: 11%;*/
/*  margin-left: 11%;*/
/*}*/

/*.outerbox {*/
/*  background-color: lightblue;*/
/*  margin: 10px auto;*/
/*  width: 50%;*/
/*  position: relative;*/
/*  text-align: center;*/
/*}*/

/*.box {*/
/*  background-color: lightgreen;*/
/*  border-style: solid;*/
/*  border-color: black;*/
/*  border-width: 1px;*/
/*  margin: 2px;*/
/*  height: 100px;*/
/*  width: 100px;*/
/*  display: inline-block;*/
/*  float: left;*/
/*}*/


.listProduct {
  margin: 25px 0 25px;
  display: flex;
  flex-direction: column;
}
.listProduct nav{
  display: flex;
  justify-content: space-between;
  margin: 0 0 71px 10px;
  width: 25%;
  height: 60px;
}
.listProduct nav button{
  text-align: center;
  font-size: 2.7vmin;
  background: #ABCB9C;
  border: none;
  padding: 0 10px;
  margin-right: 4px;
}

.listProduct nav button:hover{
  font-size: 2.5vmin;
  background:#008705;
}


.listProduct .product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
  /*grid-row-gap: 50px;*/
  grid-column-gap: 50px;
}


.listProduct .product .productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #F1F1F1;
}

.listProduct .product .productCard img {
  width: 100%;
  /*margin: 5%;*/
  /*height: 200px;*/
  /*border-radius: 50%;*/

}
.productCard .one{
  width: 10%;
  background-color: #008705;
  align-self: flex-start;

}
.productCard p{
  padding-top: 10px;
  align-items: flex-start;
  text-align: left;
}
.listProduct .product .productCard h2, h3, h4 {
  text-align: center;
  padding: 0 50px;
}

/*.line {*/

/*  border: 1px solid black;*/
/*  margin: 200px auto;*/
/*  width: 100%;*/
/*!*}*!*/
.line {
  border-bottom: 1px solid black;
  justify-content: center;

  width: 100%;
}
