.outerbox {
  background-color: lightblue;
  margin: 10px auto;
  width: 350px;
  position: relative;
  text-align: center;
  display: flex;
}

.box {
  background-color: lightgreen;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 2px;
  height: 100px;
  width: 100px;
  display: inline-block;
  float: left;
}
