*{
  margin: 0;
  padding: 0;

}
.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-content-view {
  display: flex;
  justify-content: center;
}

.main-content-view .width {
  width: 80%;
  margin: 0 15px;

}

.width .content-order {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.width p.text,
.width h2.text,
.width h3.text {
  padding: 0 5px;
  margin-left: 20px;
}

.line {
  height: 1px;
  border-radius: 5px;
  background-color: rgb(223, 223, 223);
  width: 100%;
  margin: 5px 10px;
}

.content-row {
  display: flex;
  margin: 20px 0;
  flex-direction: row;
}
.content-row >div{
  width: max(30%, 150px);
  padding: 5px 10px;
  margin-left: 10px;

}
.content-row >div label{
  margin-bottom: 5px;
}
.content-row .column{
  display: flex;
  flex-direction: column;
}
.width .orders{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-end;

}
.width .one{
  width: 80%;
  margin: 10px 5px;
}
.width .select{
  border: 1px solid gray;
  border-radius: 20px;
  padding: 15px;
}
.width .content-input{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:900px) {

  .main-content-view .width {
    width: 100%;
  }
}


.form{
  padding: 0;
}
.font{
  font-size:  3vmin;

}
.popupHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.popupHeader div:hover {
  cursor: pointer;
  color: #499227;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.shoppingCart{
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/

  /*margin: 10px 25% 0 25%;*/
  margin-top: 10px;
  /*background-color: aqua;*/
  display: flex;
  flex-direction: column;
}

.product {
  margin: 10px 25% 0 25%;

}
.line{
  border-bottom: 1px solid #d2cdcd;

}
.item{
  height: 185px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.button{

}
img{
  height: 75%;
  /*aspect-ratio: 1/1;*/
  display: block;
  /*inline-size: 100%;*/
  /*object-fit: cover;*/
}
.descriptions{
  width: 30%;
  margin-left: 20px;
  /*font-size:  2.5vmin;*/
}
.descriptions p{
  width: 100%;
  word-break:break-all;

  text-align: center;
}
.plus{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 10%;
  font-size:  2.5vmin;
}
.plus button{

  height: 25px;
  width: 25px;
}
.price{
  font-size:  2.5vmin;
}
/*mat-dialog-actions{*/
/*  display: flex;*/
/*  !*flex-direction: column;*!*/
/*}*/
.popupFooter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  /*margin: 25px 25px;*/
  padding: 10px;
  height: 50px;
  margin: 10px 0;

}
.popupFooter div:first-child{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
.popupFooter p{
  text-align: center;
}
.popupFooter .checkout{
  /*height: 50px;*/
  padding: 10px 0;
  width: 60%;
  font-size: 24px;
  background-color:#ABCB9C;
  text-align: center;
}
.popupFooter .checkout:hover{
  cursor: pointer;
  color: #499227;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.emptyCart{
  font-size: 24px;
}
.emptyCart p{
  text-align: center;
}
